# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/
*.code-workspace

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# General
*.swp
*.swo
*.tmp
*.bak
*.orig
*.rej
*.~

#tex trash
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.class